<html>
<head>
   <title>Weebox Issue Reporter</title>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  
   <style>
      h1 {text-align: center;}
   </style>
</head>
<body>
<h1>Weebox Issue Reporter</h1>
<div id='cssmenu'>
<ul>
   <li><a href={{url_for('index')}}><span>Home</span></a></li>
    <li><a href={{url_for('visualization')}}><span>Vizualization</span></a></li>
    <li><a href={{url_for('queryexecutor')}}><span>Query Executor</span></a></li>
   <li><a href={{url_for('report')}}><span>Reports</span></a></li>
   <li><a href={{url_for('scheduler')}}><span>Scheduler</span></a></li>
    
</ul>
</div>


</body>
</html>
